<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>yellowcong</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!--设定QQ 的登陆-->
   <servlet>
        <servlet-name>sinalogin</servlet-name>
        <servlet-class>com.yellowcong.weibo.servlet.SinaLogin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sinalogin</servlet-name>
        <url-pattern>/sinalogin</url-pattern>
    </servlet-mapping>
    
    <filter>
    	<filter-name>sinaauth</filter-name>
    	<filter-class>com.yellowcong.weibo.filter.SinaAuthFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>sinaauth</filter-name>
    	<!--跳转的页面过滤-->
    	<url-pattern>/*</url-pattern>
   </filter-mapping>
</web-app>